
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/LogoET-2.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>Contacto</title>
</head>
<body>
    <header class="menu-header">
        <div class="header-content">
          <div class="logo">
            <img src="../images/LogoET-1.jpg" alt="" width="100" height="50">
            <h1>Emplea Talento</h1>
            <nav class="user-options">
              <ul>                
                <li><a href='/'>Inicio</a></li>
                <li><a href='/pages/noso'>En equipo</a></li>
                <li><a href='/pages/inicio_empresa'>Empresas</a></li>
                <li><a href='/pages/sucursales'>Sucursales</a></li>  
                <li><a href='/pages/registro'>Registrarte</a></li>
                <li><a href='/pages/inicio_sesion'>Ingresar</a></li>
                </ul>
           </nav>
          </div>  
        </div>   
    </header>

      <div class="container">
          <h1 class="logoc">Contacto</h1>
          <div class="contact-wrapper animated bounceInUp">
              <div class="contact-form">
                  <h2>Completa los siguientes datos</h2><br>
                  <form action="">
                      <p>
                          <label>Nombre Completo</label>
                          <input type="text" name="fullname" required>
                      </p>
                      <p>
                          <label>Correo electrónico</label>
                          <input type="email" name="email" required placeholder="correo@correo.com">
                      </p>
                      <p>
                          <label>Número Movil</label>
                          <input type="tel" name="phone" required placeholder="011-1111-1111">
                      </p>
                      <p>
                          <label>Asunto</label>
                          <input type="text" name="affair" required>
                      </p>
                      <p class="block">
                         <label>Mensaje</label> 
                          <textarea name="message" rows="3" required></textarea>
                      </p>
                      <p class="block">
                          <button>
                              Send
                          </button>
                      </p>
                  </form>
              </div>
              <div class="contact-info">
                  <h4>Mayor Información</h4>
                  <ul>
                      <li><i class="fas fa-map-marker-alt"></i>Uruguay 237</li>
                       <li><i class="fas fa-map-marked-alt"></i>C1015ABE - CABA</li>
                      <li><i class="fas fa-phone"></i> (011) 1111 1111</li>
                      <li><i class="fas fa-envelope-open-text"></i>info@empleatalento.com.ar</li>
                  </ul>
                  <p>Empieza a construir tu perfil profesional para encontrar las mejores oportunidades <br>
                    ¡Gracias por confiar en nosotros!
                  </p>
                  <p>Web: www.empleatalento.com.ar</p>
              </div>
          </div>
  
      </div>
  
<br><br>
    <footer>
        <h3>Redes</h3>
        <div class="social-icons">
          <a href="#"><img src="../images/facebook.png" alt="Facebook"></a>
          <a href="#"><img src="../images/twitter.png" alt="Twitter"></a>
          <a href="#"><img src="../images/instagram.png" alt="Instagram"></a>
          <a href="#"><img src="../images/linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>&copy; 2023 Tu Oficina de Empleo</p>
    </footer>
    
</body>
</html>
    