<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/LogoET-2.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Inicio empresa</title>
</head>

<body>
    <header>
        <div class="header-content">
          <div class="logo">
            <img src="../images/LogoET-1.jpg" alt="" width="100" height="50">
            <h1>Emplea Talento</h1>
            <nav class="user-options">
              <ul>
                <li><a href='/'>Inicio</a></li>
                <li><a href='/pages/noso'>En equipo</a></li>
                <li><a href='/pages/sucursales'>Sucursales</a></li>
                <li><a href='/pages/registro'>Registrarse</a></li>
                <li><a href='/pages/inicio_sesion'>Ingresar</a></li>
                <li><a href='/pages/contacto'>Contacto</a></li>
                
                  
          </ul>
          </nav>
          </div>  
        </div>
    </header>
    <br>  
          <main class="login-form">
            <h2>Iniciar Sesión Empresa</h2>
            <form action="" method="" target="_blank">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" required placeholder="correo@correo.com">
              <label for="password">Contraseña:</label>
              <input type="password" id="password" required><br>
              <p>
              </p>
              <input type="submit" formaction="../PAGES/datos_empresa.html" value="Iniciar sesión">
              <p>
                
              </p>
            </form>
                <a href='/pages/datos_empresa'>¿No tienes cuenta?</a>
          </main>
    <br>

    <footer>
        <h3>Redes</h3>
            <div class="social-icons">
              <a href="#"><img src="../images/facebook.png" alt="Facebook"></a>
              <a href="#"><img src="../images/twitter.png" alt="Twitter"></a>
              <a href="#"><img src="../images/instagram.png" alt="Instagram"></a>
              <a href="#"><img src="../images/linkedin.png" alt="LinkedIn"></a>
            </div>
            <p>&copy; 2023 Tu Oficina de Empleo</p>
    </footer>

</body>

</html>